@font-face {
    font-family: Consolas;
    src: url(Fonts/Consolas-Font/CONSOLAB.ttf);
}

* {
    /* font settings */
    font-family: Consolas;
    letter-spacing: 10px;
    color: white;

    /* page settings */
    margin: 0px;
}

body {
    background-color: rgb(61, 61, 61);
}

/* NavBar */
nav {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;

    background-color: rgb(45, 45, 45);
}

ul.topnav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

ul.topnav li a:hover:not(.active) {
    border-bottom: 10px;
}

li {
    display: flex;
}

#leftName {
    padding: 0px;
    display: flex;
}

.name {
    font-size: 40px;
    text-decoration: none;
    display: flex;
    gap: 25px;
}

#rightBtns {
    display: flex;
    gap: 150px;
}

.navBtn {
    font-size: 24px;
    float: right;
    padding: 9.5px;
    text-decoration: none;
    text-align: center;
}

/* Body */
#indexName {
    display: flex;
    gap: 50px;
}

h4 {
    color: black;
}

.polaroid {
    padding: 10px;
    width: fit-content;
    background-color: rgb(217, 217, 217);

    box-shadow: 25px 25px;
    color: rgb(45, 45, 45);
}

.homeItems {
    display: flex;
    padding: 200px;
    gap: 200px;
}

.homeText {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 64px;
    text-shadow: 6px 6px rgb(45, 45, 45);

}

h2 {
    font-size: 40px;
}

.para {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    font-size: 24px;
}

p, #uni {
    letter-spacing: 5px;
}


/* FOOTER */
footer {
    margin-left: 100px;
    margin-right: 100px;

    width: 100%;
    display: flex;
    gap: 6%;

    text-align: left;

    position: fixed;
    bottom: 25px;
    left: 0;
}

.URLS {
    text-decoration: none;
    font-size: 24px;
}

@media screen and (max-width: 1400px) {
    ul.topnav {
        display: flex;
        flex-direction: column;
    }

    #leftName {
        justify-content: center;
    }

    li {
        justify-content: center;
    }

    nav {
        padding: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .navBtn {
        float: none;
        width: 100%;
    }

    #rightBtns {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}