@font-face {
  font-family: Consolas;
  src: url(Fonts/Consolas-Font/CONSOLAB.ttf);
}

* {
  /* font settings */
  font-family: Consolas, sans-serif;
  letter-spacing: 10px;
  color: white;

  /* page settings */
  margin: 0px;
  height: auto;
}

html,
body {
  background-color: rgb(61, 61, 61);
  height: 100%;

  overflow-x: hidden;
  min-width: 320px;
}

/* NavBar */
nav {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;

  background-color: rgb(45, 45, 45);
}

ul.topnav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

li {
  display: flex;
}

#leftName {
  display: flex;
}

.name {
  font-size: 40px;
  text-decoration: none;
  display: flex;
  gap: 25px;
}

#rightBtns {
  display: flex;
  gap: 50px;
}

.navBtn {
  font-size: 24px;
  padding: 9.5px;
  text-decoration: none;
  text-align: center;
}

.navBtn:hover,
#firstName:hover,
.URLS:hover {
  text-shadow: 8px 8px rgb(19, 19, 19);
}

.navBtn,
#firstName,
.URLS {
  transition: text-shadow 0.3s ease;
}

.hamburger {
  display: none; /* hide in non-mobile sizes*/
}

/* Body */

h4 {
  color: black;
}

.polaroid {
  padding: 10px;
  max-width: 75%;
  background-color: rgb(217, 217, 217);

  box-shadow: 25px 25px;
  color: rgb(19, 19, 19);

  border-radius: 10px;
  transform: rotate(-3deg);
}

.polaroid img {
  width: 100%;
  aspect-ratio: 1;
}

.homeItems {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dd-about-section {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hereBtn {
  color: rgb(97, 184, 255);
  text-decoration: underline;
}

p,
.hereBtn {
  font-family: sans-serif;
  font-size: 18px;
  letter-spacing: normal;
}

.card-box {
  width: 60%; /* Adjust the width as needed */
  height: auto;

  min-width: 320px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  gap: 25px; /* Optional: Add some gap between the cards */
}

.project-card img {
  width: 100%;
  aspect-ratio: 1;
}

.project-card {
  width: 350px;
  height: 450px; /* Set a fixed height or auto if you prefer */
  background-color: rgb(217, 217, 217);
  color: rgb(19, 19, 19);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in the width and height */

  transition: box-shadow 0.3s ease;
}

.project-card:hover,
.contact-card:hover {
  box-shadow: 15px 15px;
}

.contact-card {
  max-width: 300px; /* Updated max-width */
  height: 150px;
  background-color: rgb(217, 217, 217);
  color: rgb(19, 19, 19);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in the width and height */

  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: box-shadow 0.3s ease;
}

.contact-card img {
  height: 30%;
  object-fit: scale-down;
}

.contact-card p {
  color: rgb(45, 45, 45);
}

/* FOOTER */
footer {
  text-align: center;
  margin: 25px 0px 25px 0px;
}

.URLS {
  text-decoration: none;
  font-size: 24px;
}

/* ABOUT PAGE */

.title-section {
  display: flex;
  align-items: center;

  margin: 25px 20% 25px 20%;
}

.title-section h2 {
  font-size: 24px;
  margin: 0;
  padding-right: 20px;
}

.title-section .line {
  flex-grow: 1;
  height: 3px;
  background-color: #fff;
}

.card-box a {
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
  ul.topnav {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  #leftName {
    justify-content: center;
  }

  nav {
    padding: 15px 0px 10px 0px;
  }

  .navBtn {
    width: 100%;
    text-align: center;
  }

  .hamburger {
    display: block; /* Show hamburger menu on mobile */

    font-size: 25px;
    background: none;
    border: none;
    color: white;
  }

  .project-card {
    width: 232px;
    height: 299px;
  }

  #rightBtns {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .homeItems {
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  #dd-about-section {
    padding-left: 0px;
  }

  .card-box {
    align-items: center;
    justify-content: center;
  }

  .polaroid {
    max-width: 50%;
  }

  footer {
    padding: 15px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: static; /* Ensures footer is at the bottom of content */
  }

  .URLS {
    font-size: 24px;
  }

  .name {
    font-size: 35px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  #dd-about-section {
    margin-right: 20%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 350px) {
  .name {
    font-size: 25px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .title-section {
    margin: 25px 10% 25px 10%;
  }

  #dd-about-section {
    margin-right: 10%;
    margin-left: 10%;
  }
}
